In [1]:
# Import dependencies
import pymongo
import json
import pandas as pd
import numpy as np

In [2]:
# Read in the file location and turn it into a pandas dataframe
# Change the path to where you have the data stored as it's too large to upload to github
business_file = "../../../../test_proj_2/data/yelp_academic_dataset_business.json"
business_pd = pd.read_json(business_file, lines=True)

In [3]:
business_pd.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."

In [4]:
# Create a new dataframe by filtering the selected column indices
business_data = business_pd.filter(items = ["name", "address", "city", "state", "postal_code", "latitude", "longitude", "stars", "review_count", "categories"])

business_data.head()

,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories
0,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,"Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh..."
1,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,"Health & Medical, Fitness & Instruction, Yoga,..."
2,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,"Pets, Pet Services, Pet Groomers"
3,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,"Hardware Stores, Home Services, Building Suppl..."
4,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,"Home Services, Plumbing, Electricians, Handyma..."

In [5]:
# Find all the unique states in the dataframe
business_data["state"].unique()

array(['NC', 'AZ', 'QC', 'NV', 'IL', 'ON', 'AB', 'PA', 'WI', 'SC', 'OH',
       'CA', 'TX', 'NY', 'CO', 'XWY', 'GA', 'BC', 'YT', 'HPL', 'AL', 'UT',
       'VT', 'WA', 'NE', 'DOW', 'MI', 'FL', 'AR', 'HI', 'MB', 'OR', 'AK',
       'VA', 'CT', 'MO', 'DUR'], dtype=object)

In [6]:
# Select only the data for Nevada since that is what we are focusing on
business_data = business_data.loc[business_data["state"] == "NV"]

business_data

,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories
3,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,"Hardware Stores, Home Services, Building Suppl..."
6,Green World Cleaners,"6870 S Rainbow Blvd, Ste 117",Las Vegas,NV,89118,36.063977,-115.241463,3.5,81,"Dry Cleaning & Laundry, Local Services, Laundr..."
14,Tan Las Vegas,5465 Simmons St,North Las Vegas,NV,89031,36.263362,-115.179839,3.5,5,"Beauty & Spas, Tanning"
15,Desert Storage,2402 Atchley Dr,Henderson,NV,89052,35.952046,-115.093483,5.0,5,"Local Services, Self Storage"
16,Manolo Blahnik,3131 Las Vegas Blvd,Las Vegas,NV,89109,36.125732,-115.167608,4.5,32,"Shopping, Shoe Stores, Fashion"
...,...,...,...,...,...,...,...,...,...,...
209371,Ignite Funding,"2140 E Pebble Rd, Ste 160",Las Vegas,NV,89123,36.028342,-115.121935,4.0,13,"Commercial Real Estate, Mortgage Brokers, Home..."
209372,Island Buffet,"Tropicana Resort and Casino, 3801 Las Vegas Bl...",Las Vegas,NV,89109,36.099378,-115.171029,1.5,9,"Restaurants, Buffets"
209375,Britt Pierson Photography,S Maryland Pkwy 2620,Las Vegas,NV,89109,36.142128,-115.136924,5.0,10,"Session Photography, Event Photography, Photog..."
209382,Cheyenne West Animal Hospital,3650 N Buffalo Dr,Las Vegas,NV,89129,36.226339,-115.259958,4.5,124,"Pets, Pet Sitting, Veterinarians, Pet Services"
209386,Water Heater Pros,,Las Vegas,NV,89120,36.076977,-115.244794,5.0,217,"Contractors, Local Services, Appliances & Repa..."

In [7]:
# # Create an array that will hold the states to remove, any state not in the US will be removed
# remove = ["QC", "ON", "AB", "XWY", "BC", "YT", "HPL", "DOW", "MB", "DUR"]

# # Run a loop to remove all the states outside the US
# for state in remove:
#     business_data.drop(business_data[business_data["state"] == f'{state}'].index, inplace=True)

# Check to see if the states were removed
business_data["state"].unique()

array(['NV'], dtype=object)

In [8]:
# Check to see if all columns have the same amount of data
business_data.count()

name            39084
address         39084
city            39084
state           39084
postal_code     39084
latitude        39084
longitude       39084
stars           39084
review_count    39084
categories      38986
dtype: int64

In [9]:
# Replace all empty cells with NaN in the categories column
business_data["categories"].replace("", np.nan, inplace=True)

# Drop all NaN from the category column
business_data.dropna(subset = ["categories"], inplace=True)

# Now we only have data with values in every column
business_data.count()

name            38986
address         38986
city            38986
state           38986
postal_code     38986
latitude        38986
longitude       38986
stars           38986
review_count    38986
categories      38986
dtype: int64

In [10]:
# Filter the categories row for businesses that are Restaurants
cleaned = business_data[business_data['categories'].str.contains("Restaurant")]

cleaned.head()

,name,address,city,state,postal_code,latitude,longitude,stars,review_count,categories
36,Carl's Jr,9595 W Tropicana Ave,Las Vegas,NV,89147,36.099738,-115.301568,2.5,15,"Mexican, Restaurants, Fast Food"
42,Meat Chix And Wieners,6530 S Decatur Blvd,Las Vegas,NV,89118,36.071196,-115.207463,3.0,10,"Burgers, Restaurants, American (Traditional), ..."
86,Mama Napoli Pizza,,Las Vegas,NV,89109,36.128561,-115.171130,4.5,11,"Food, Food Trucks, Restaurants, Pizza"
101,Taco Bell,8033 N Durango Dr,Las Vegas,NV,89131,36.307495,-115.279059,2.5,37,"Fast Food, Restaurants"
130,Kulinarya Express Filipino Kitchen,"7960 S Rainbow Blvd, Ste 8000A",Las Vegas,NV,89139,36.043663,-115.241881,4.0,82,"Filipino, Restaurants, Breakfast & Brunch, Foo..."

In [1]:
# Reset the index so we can iterate through the data and load it into the database
cleaned = cleaned.reset_index(drop=True)

cleaned

NameError: name 'cleaned' is not defined

In [12]:
# Save the file to a csv so we can upload it to the github repo, remove the index when saving
cleaned.to_csv("../data/cleaned_data.csv", index=False)
cleaned.to_json("../data/cleaned_data.json", orient='records')

In [13]:
# Setup connection to mongodb
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

# Select database and collection to use
db = client.restaurants
data = db.data

# Run a loop through the length of the dataframe
# Create table and append values for each business
for x in range(len(cleaned)):
    data.insert_one(
        {
            "name": cleaned["name"][x],
            "address": cleaned["address"][x],
            "city" : cleaned["city"][x],
            "state": cleaned["state"][x],
            "postal_code": cleaned["postal_code"][x],
            "latitude": cleaned["latitude"][x],
            "longitude": cleaned["longitude"][x],
            "stars": cleaned["stars"][x],
            "review_count": int(cleaned["review_count"][x]),
            "categories": cleaned["categories"][x]
        }
    )